<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <p>il s'agit d'une erreur tu peux revenir sur la premiere page vis ce lien<</p>

    <a class="navbar-brand" href="#" th:href="@{/}">page acceuil</a>
</div>
</body>
</html>