<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>

<div class="container">
    <div>
        <a type="button" class="btn btn-primary btn-md" href="/add-article">Ajouter un article</a>
    </div>
    <br>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Liste des articles</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th width="40%">Description</th>
                    <th width="20%">Texte</th>
                    <th width="20%">Date de l'article</th>
                    <th width="20%"></th>
                </tr>
                </thead>
                <tbody>
                <th:block  th:each items="${articles}" var="article">
                    <tr>
                        <td>${todo.description}</td>
                        <td><th:text value="${article.targetDate}"
                                            pattern="dd/MM/yyyy" /></td>
                        <td><a type="button" class="btn btn-success"
                               href="/update-article?id=${article.id}">Modifier</a>
                            <a type="button" class="btn btn-warning"
                               href="/delete-article?id=${article.id}">Supprimer</a></td>
                        <!--/* @{/} */-->
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>