<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Login</title>
</head>
<body>
<div th:insert="layout :: copy">...</div>
<div th:insert="navbar :: copy">...</div>

<br>
<br>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>page de Login</h1>
            <form th:action="@{/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">Email et password invalide</div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">Tu es deconnecte</div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>: <input type="text"
                                                                   id="email" name="email" class="form-control"
                                                                   autofocus="autofocus" placeholder="Email" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password"
                                                                   id="password" name="password" class="form-control"
                                                                   placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit" name="login-submit" id="login-submit"
                                   class="form-control btn btn-primary" value="LogIn" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
      <span>Nouvelle utilisateur? <a href="/" th:href="@{/signup}">creer un compte
        here</a></span>
                </div>
            </form>
        </div>
    </div>


</div>

</body>
</html>