<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>
<div th:insert="layout :: copy">...</div>
<div th:insert="navbar :: copy">...</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div th:if="${param.success}">
                <div class="alert alert-info">Bravo tu es enregistre futur alpiniste:)</div>
            </div>

            <h1>Registration</h1>
            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Erreur validation.
                </p>

                <div class="form-group" th:classappend="${#fields.hasErrors('prenom')}? 'has-error':''">
                    <label for="prenom" class="control-label">prenom</label> <input
                        id="prenom" class="form-control" th:field="*{prenom}" />
                    <p class="error-message"
                       th:each="error: ${#fields.errors('prenom')}"
                       th:text="${error}">Erreur validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('nom')}? 'has-error':''">
                    <label for="nom" class="control-label">Nom</label>
                    <input id="nom" class="form-control" th:field="*{nom}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('nom')}"
                       th:text="${error}">Validation error</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('email')}? 'has-error':''">
                    <label for="email" class="control-label">E-mail</label> <input
                        id="email" class="form-control" th:field="*{email}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('email')}" th:text="${error}">erreur de validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmEmail')}? 'has-error':''">
                    <label for="confirmEmail" class="control-label">Confirmation email</label> <input id="confirmEmail" class="form-control"
                                              th:field="*{confirmEmail}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmEmail')}"
                       th:text="${error}">erreur de validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                    <label for="password" class="control-label">Password</label> <input
                        id="password" class="form-control" type="password"
                        th:field="*{password}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('password')}"
                       th:text="${error}">erreur validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('confirmPassword')}? 'has-error':''">
                    <label for="passwordConfirm" class="control-label">Confirm
                        password</label> <input id="passwordConfirm" class="form-control"
                                                type="password" th:field="*{passwordConfirm}" />
                    <p class="error-message"
                       th:each="error : ${#fields.errors('confirmPassword')}"
                       th:text="${error}">erreur validation</p>
                </div>
                <div class="form-group"
                     th:classappend="${#fields.hasErrors('terms')}? 'has-error':''">
                    <input id="terms" type="checkbox" th:field="*{terms}" />   <label
                        class="control-label" for="terms">je suis d'accord avec <a
                        href="#">les termes et condition </a> general.
                </label>
                    <p class="error-message"
                       th:each="error : ${#fields.errors('terms')}" th:text="${error}">Validation
                        error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Sign up</button>
                    <span>vous etes enregistrer ? <a href="/" th:href="@{/login}">Login
        here</a></span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div th:insert="navbar :: copy">...</div>
    </div>
</div>


</body>
</html>